<br><br><br>
<!-- <div class="container" style="background-color:beige"> -->
    <div class="container" >
        <nav class="nav">
            <a class="nav-link shadow-lg" style="font-weight: bold" [routerLink]="['/home']">Home</a>
            <a class="nav-link shadow-lg" style="font-weight: bold" [routerLink]="['/products']">Products</a>
          </nav>
<!-- <br><br><br> -->
    <div >
        <div class="jumbotron" style="background-color:white; "><h4 style="color:lightseagreen">{{title}}</h4>
            <!-- <h3>The root component : AppComponent</h3> -->
            <!-- <app-products></app-products> -->
            <router-outlet></router-outlet>
    </div>
</div>
<br>
